{%extends 'base.html' %}
{% block content %}
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <form method="POST" id="Text1" action="save-text-1/">
                        {% csrf_token %}
                        <label for="Original-text"><h2>Original Text</h2></label>
                        <textarea class="form-control" name="Original-text" id="otext" rows="18" cols="6">{{ default_original_text }}</textarea>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class=" btn btn-danger" id="clear1">Clear</button>
                        </form>
                </div>
                <div class="col">
                    <form method="POST" id="Text2" action="save-text-2/">
                        {% csrf_token %}
                        <label for="User-text"><h2>User Text</h2></label>
                        <textarea class="form-control" name="User-text" id="utext" rows="18" cols="6">{{ default_user_text }}</textarea>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-danger" id="clear2">Clear</button>
                        </form>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <form method='POST' action="report/">
                        {% csrf_token %}
                        <button type="submit" class=" btn btn-lg btn-success">Get Report</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock content %}